
<!---
            founded_text : founded,
             founder_text : founder,
             CurrentPresident_text : CurrentPresident,
             CurrentVicePresident : CurrentVicePresident,
             CurrentTreasurer_text : CurrentTreasurer,
             awards_text : awards,

-->
<link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
<div class="about-page" style="text-align: center; color: white;  font-family: 'Calistoga', cursive !important;">
    <h1>Founded</h1>
    <br /> 
    <h5>{{ founded_text }}</h5>
    <br /> 
    <h1>Founder</h1>
    <br /> 
    <h5>{{ founder_text }}</h5>
    <br />
    <h1>Current President</h1>
    <br /> 
    <h5>{{ CurrentPresident_text }}</h5>
    <br /> 
    <h1>Current Vice President</h1>
    <br /> 
    <h5>{{ CurrentVicePresident }}</h5>
    <br /> 
    <h1>Current Treasurer</h1>
    <br /> 
    <h1>Awards</h1>
    <br /> 
    <h5>{{ awards_text }}</h5>
</div>

<div id="aboutpage">
  <style>
    #aboutpage {
      text-align: center;
      color: white
    }

    .heading {
      color: white;

    }

    .paragraph1 {
      color: white;
      text-align: center;
    }
  </style>


  <h1 class="heading">ABOUT US</h1>
  <p class="paragraph1">

<header><h2>FOUNDED</h2></header>
<body>Fall of 2018</body>
</br>
<header><h2>FOUNDER</h2></header>
<body>Bryan Partika</body>
</br>
<header><h2>CURRENT PRESDIENT</h2></header>
<body> Carlos Polanco</body>
</br>
<header><h2>CURRENT VICE PRESIDENT</h2></header>
<body>Justin Joyce</body>
</br>
<header><h2>CURRENT TREASURER</h2></header>
<body>Kimberly Staments</body>
</br>
<header><h2>AWARDS</h2></header>
<body>2018-2019 new club of the year</body>


 </p>

</div>

