<link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
<div data-aos="fade-in" class="rules-page" style="text-align: center; color: white;  font-family: 'Calistoga', cursive !important;">
        <style>
    
        </style>
		<!---
			headerbig_text : headerbig,
			headersmall_text : headersmall,
			generalparagraph_text : generalparagraph,
			drawtwo_text : drawtwo,
			reverse_text : reverse,
			skip_text : skip,
			wildcard_text : wildcard,
			wildcardplusfour_text : wildcardplusfour,
		
		
		
		-->
		
	<div class="row">
        <div class="col-md-12">
            <h1>{{ headerbig_text }}</h1>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3>{{ headersmall_text }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-xs-0"></div>
         <div class="col-md-10 col-xs-12">
            <p>{{ generalparagraph_text }}</p> 
        </div>
        <div class="col-md-1 col-xs-0"></div>
    </div>
    <div class="row">
        <div class="col-md-12"> 
            <h3>Special Cards</h3>
        </div>
    </div>
    <div class="row" data-aos="fade-right" data-aos-duration="1500">
        <div class="col-md-1 col-xs-0"></div>
        <div class="col-md-2 col-xs-12">
            <div class="card how-to-cards" style="background: rgba(0, 151, 19, 0);">
              <img src="/uno_cards/draw2.jpg" class="card-img-top" alt="Draw 2">
              <div class="card-body" styl>
                <p class="card-text">{{ drawtwo_text }}</p>
              </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-12">
            <div class="card how-to-cards" style="background: rgba(0, 151, 19, 0);">
                  <img src="/uno_cards/reverse.jpg" class="card-img-top" alt="Draw 2">
                  <div class="card-body">
                    <p class="card-text">{{ reverse_text }}</p>
                  </div>
                </div>
        </div>
        <div class="col-md-2 col-xs-12">
            <div class="card how-to-cards" style="background: rgba(0, 151, 19, 0);">
                  <img src="/uno_cards/skip.jpg" class="card-img-top" alt="Draw 2">
                  <div class="card-body">
                    <p class="card-text">{{ skip_text }}</p>
                  </div>
                </div>
        </div>
        <div class="col-md-2 col-xs-12">
            <div class="card how-to-cards" style="background: rgba(0, 151, 19, 0);">
                  <img src="/uno_cards/wild.jpg" class="card-img-top" alt="Draw 2">
                  <div class="card-body">
                    <p class="card-text">{{ wildcard_text }}</p>
                  </div>
                </div>
        </div>
        <div class="col-md-2 col-xs-12">
            <div class="card how-to-cards" style="background: rgba(0, 151, 19, 0);">
                  <img src="/uno_cards/wild4.jpg" class="card-img-top" alt="Draw 2">
                  <div class="card-body">
                    <p class="card-text">{{ wildcardplusfour_text }}</p>
                  </div>
                </div>
            </div>
        <div class="col-md-1 col-xs-0"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-xs-0"></div>
            <div class="col-md-10 col-xs-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <video width="320" height="240" controls>
                        <source src="/how-to-play.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-md-1 col-xs-0"></div>
        </div>
</div>     